.row {
    width: 80vw;
    display: inline-flex;
    flex-wrap: wrap; /* Ensures items wrap on smaller screens */
    align-items: center; /* Vertically centers items */
}

.about-me-container{
    width: 75vw;
}

.img-container {
    display: flex;
    justify-content: center; /* Centers image horizontally */
    align-items: center;
}

.content {
    flex: 1; /* Allows the content to take up remaining space */
}



.title-container h2::after {
    content: ""; /* Required for ::after to display */
    display: block; /* Ensures it's treated as a block element */
    border-bottom: 5px solid #149ddd; /* Horizontal line under the h2 */
    width: 50%; /* Adjusts the length of the border */
    margin: 0 auto; /* Centers the border */
    margin-top: 10px; /* Adds spacing between text and border */
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 20rem;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    
}
.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
}



@media (max-width: 991px) {
    .about {
        width: calc(100vw ); /* Extend width to overlap header */
    }
}
