<ul>
    <li class="home-button ">
        <a (click)="scrollToSection('home')" [routerLink]="[]" fragment="home" class="" >
            <mat-icon>home</mat-icon>
            Home
        </a>
    </li>
    <li class="tag">
        <a (click)="scrollToSection('about')" [routerLink]="[]" fragment="about" class="" >
            <mat-icon> person_pin</mat-icon>
            About
        </a>
    </li>
    <li class="tag">
        <a (click)="scrollToSection('resume')" [routerLink]="[]" fragment="resume" class="" >
            <mat-icon>assignment</mat-icon>
            Resume
        </a>
    </li>
    <li class="tag">
        <a (click)="scrollToSection('Protfolio')" [routerLink]="[]" fragment="Protfolio" class="" >
            <mat-icon>assignment_turned_in</mat-icon>
            Protfolio 
        </a>
    </li>
    <li class="tag">
        <a (click)="scrollToSection('Contact')" [routerLink]="[]" fragment="Contact" class="" >
            <mat-icon> contacts</mat-icon>
            Contact 
        </a>
    </li>
</ul>
