<div class="app-header" [ngClass]="{'show': isMenuVisible}">
    <div class="image-container">
        <img src="https://i.ibb.co/3vLKncX/DSC-2024.jpg" alt="DSC_2024" border="0">
        <a href="/home">
            <h1>Omri Asulin</h1>
        </a>
    </div>
    <div class="social-links">
        <div class="social-links-container">
            <!-- SVG icons here -->
            <a href="https://www.facebook.com/omri.assulin" target="_blank">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                        <path class="icon" d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
                    </svg>
                </i>
            </a>
            
            <a href="https://www.linkedin.com/in/omri-asulin/" target="_blank">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                        <path class="icon" d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path>
                    </svg>
                </i>
            </a>
            <a href="mailto:omri440@gmail.com?subject=Hello&body=I would like to discuss..." target="_blank">
                <i>
                    <svg width="100" height="100" viewBox="0 0 20 21 " x="0px" y="50px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Outlined" transform="translate(-102.000000, -1217.000000)">
                                <g id="Communication" transform="translate(100.000000, 1162.000000)">
                                    <g id="Outlined-/-Communication-/-alternate_email" transform="translate(0.000000, 54.000000)">
                                        <g>
                                            <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                            <path class="icon" d="M12,1.95 C6.48,1.95 2,6.43 2,11.95 C2,17.47 6.48,21.95 12,21.95 L17,21.95 L17,19.95 L12,19.95 C7.66,19.95 4,16.29 4,11.95 C4,7.61 7.66,3.95 12,3.95 C16.34,3.95 20,7.61 20,11.95 L20,13.38 C20,14.17 19.29,14.95 18.5,14.95 C17.71,14.95 17,14.17 17,13.38 L17,11.95 C17,9.19 14.76,6.95 12,6.95 C9.24,6.95 7,9.19 7,11.95 C7,14.71 9.24,16.95 12,16.95 C13.38,16.95 14.64,16.39 15.54,15.48 C16.19,16.37 17.31,16.95 18.5,16.95 C20.47,16.95 22,15.35 22,13.38 L22,11.95 C22,6.43 17.52,1.95 12,1.95 Z M12,14.95 C10.34,14.95 9,13.61 9,11.95 C9,10.29 10.34,8.95 12,8.95 C13.66,8.95 15,10.29 15,11.95 C15,13.61 13.66,14.95 12,14.95 Z" id="🔹-Icon-Color" fill="#1D1D1D"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </i>
            </a>
            <!-- Add other SVGs similarly -->
        </div>
    </div>
    <div class="navbar1">
        <app-navbar></app-navbar>
    </div>
</div>


