.hero{
    left: 160px;
    width: calc(100vw + 225px); /* Extend width to overlap header */
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: left 0.3s ease;
    &::before{
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.156);
    }
}
.hero_content{
    font-weight: 700;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top:20%;
    z-index: 0;
}
.hero_content h1{
    width: 45%;
    font-size: 5rem;
    line-height: 1.5;
    color: #ffffff;
}
.hero_content h2{
    width: 45%;
    color: #ffffff;
    font-size: 3rem;
}

@media (max-width: 991px) {
    .hero {
        z-index: 1500;
        transform: translateX(-20%);
        width: calc(100vw + 225px); /* Extend width to overlap header */
    }
}