<div class="app">
    <div class="app-header">
        <app-header></app-header>
    </div>
    <main>
        <app-hero id="home"></app-hero>
        <app-about id="about" class="fade-in marg-left"></app-about>
        <app-skills id="skills" class="fade-in marg-left"></app-skills>
        <app-resume id="resume" class="fade-in marg-left"></app-resume>
        <app-protfolio id="Protfolio" class="fade-in marg-left"></app-protfolio>
        <app-contact id="Contact" class="fade-in marg-left"></app-contact>
    </main>
</div>
