<section id="skills" class="container section-title">
    <div class="skills-container">
        <h2>Skills</h2>
        <mat-divider class="spertor"></mat-divider>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div class="row">
        <div class="col-lg-6">
            <div class="skill-wrap">
            <span class="skill">
                <span>Html</span>
                    <i class="val">100%</i>
            </span>
            <div class="progress">
                
                <div class="progress-bar-wrap">
                    <mat-progress-bar class="custom-progress-bar" mode="determinate" value="100"></mat-progress-bar>
                </div>
                </div>
            </div>
            <div class="skill-wrap">
                <span class="skill">
                    <span>Css</span>
                        <i class="val">80%</i>
                </span>
                <div class="progress">
                    
                    <div class="progress-bar-wrap">
                        <mat-progress-bar class="custom-progress-bar" mode="determinate" value="80"></mat-progress-bar>
                    </div>
                </div>
            </div>
            <div class="skill-wrap">
                <span class="skill">
                    <span>Java Script</span>
                        <i class="val">90%</i>
                </span>
                <div class="progress">
                    
                    <div class="progress-bar-wrap">
                        <mat-progress-bar class="custom-progress-bar" mode="determinate" value="90"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="skill-wrap">
            <span class="skill">
                <span>Pyton</span>
                    <i class="val">75%</i>
            </span>
            <div class="progress">
                
                <div class="progress-bar-wrap">
                    <mat-progress-bar class="custom-progress-bar"  mode="determinate" value="75"></mat-progress-bar>
                </div>
                </div>
            </div>
            <div class="skill-wrap">
                <span class="skill">
                    <span>Matlab</span>
                        <i class="val">75%</i>
                </span>
                <div class="progress">
                    
                    <div class="progress-bar-wrap">
                        <mat-progress-bar class="custom-progress-bar" theme="500"  mode="determinate" value="75"></mat-progress-bar>
                    </div>
                </div>
            </div>
            <div class="skill-wrap">
                <span class="skill">
                    <span>C++</span>
                        <i class="val">50%</i>
                </span>
                <div class="progress">
                    
                    <div class="progress-bar-wrap">
                        <mat-progress-bar class="custom-progress-bar"  mode="determinate" value="50"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
