/* You can add global styles to this file, and also import other style files */

html, body{ height: 100%; width: 100%;scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display:flex; overflow-x: hidden; }

a {
    color: inherit; /* Keeps the text color the same as the parent element */
    text-decoration: none; /* Removes the underline */
    font-family: sans-serif;
    font-size: 24px;
  }

section{
  padding: 30px 0;
}

h3{
  font-family: Raleway;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
}


