/* You can add global styles to this file, and also import other style files */

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: inherit; /* Keeps the text color the same as the parent element */
    text-decoration: none; /* Removes the underline */
    font-family: sans-serif;
    font-size: 24px;
  }