<section class="portfolio section" id="portfolio">
  <div class="container section-title">
    <h2>Portfolio</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sequi
      commodi, dolore itaque corrupti officiis dolor aliquid facere dolorum,
      odio labore repellat atque omnis veniam officia eveniet! Voluptatem,
      officia natus.
    </p>
  </div>
  <div class="container portfolio">
    <div class="isotope-layout col-lg-12 justify-content">
      <ul
        class="portfolio-filters horizontal-list text-align-center justify-content"
      >
        <li
          (click)="onClickFilter('All')"
          [class.filter-active]="keyWord === 'All'"
        >
          ALL
        </li>
        <li
          (click)="onClickFilter('App')"
          [class.filter-active]="keyWord === 'App'"
        >
          APP
        </li>
        <li
          (click)="onClickFilter('PRODUCT')"
          [class.filter-active]="keyWord === 'PRODUCT'"
        >
          PRODUCT
        </li>
      </ul>
    </div>
    <div class="row">
      <!-- Example item with 'App' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'App' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>App Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Example item with 'PRODUCT' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'PRODUCT' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>Product Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Example item with 'PRODUCT' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'PRODUCT' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>Product Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Add other items similarly with their appropriate categories -->
    <div class="row">
      <!-- Example item with 'App' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'App' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>App Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Example item with 'PRODUCT' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'PRODUCT' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>Product Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Example item with 'PRODUCT' category -->
      <div
        [ngClass]="{ show: keyWord === 'All' || keyWord === 'Product' }"
        class="col-lg-4 col-md-5 portfolio-item"
      >
        <div class="portfolio-content h-100">
          <img
            alt=""
            class="img-thumbnail"
            src="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
          />
          <div class="portfolio-info">
            <h4>Product Project</h4>
            <p>Lorem, ipsum dolor.</p>
            <a
              class="glightbox preview-link"
              href="https://builder.bootstrapmade.com/static/img/portfolio/app-1.jpg"
            >
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
