.spertor {
    width: 75px;
    height: 10px;
    border-color: #149ddd;
    margin-left: 5px;
}

.resume .resume-title {
    color: #050d18;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #149ddd;
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: -16px;
    background: var(--background-color);
    border: 2px solid #149ddd;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: 
color-mix(in srgb, var(--default-color), transparent 20%);
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}