<section id="resume" class="resume section-title">
    <div class="resume-container-title">
        <h2>Resume</h2>
        <mat-divider class="spertor"></mat-divider>
        <div class="short-description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis beatae voluptatum quibusdam dignissimos repellendus temporibus!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aos-init aos-animate">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Passportcard Lab's</h4>
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quia!</p>
                    <ul>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                    </ul>
                </div>
                <div class="resume-item pb-0">
                    <h3 class="resume-title">Education</h3>
                    <h4>Passportcard Lab's</h4>
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quia!</p>
                    <ul>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 aos-init aos-animate">
                <h3 class="resume-title">Professional Exprience</h3>
                <div class="resume-item pb-0">
                    <h4>Passportcard Lab's</h4>
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quia!</p>
                    <ul>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                    </ul>
                </div>
                <div class="resume-item pb-0">
                    <h4>Passportcard Lab's</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quia!</p>
                    <ul>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                        <li>
                            Lorem, ipsum dolor.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
