<section class="resume section-title" id="resume">
    <div class="resume-container-title">
      <h2>Resume</h2>
      <div class="short-description">
        <p>
          Software Developer at PassportCard Labs &amp; BSc Electrical and
          Computer Engineering student at BGU, skilled in C++, Python &amp; Logic
          Design, seeking roles in Algorithm Development and Chip &amp; Board
          Design.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 aos-init aos-animate">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Passportcard Lab's</h4>
            <h5>Lorem, ipsum.</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
              quia!
            </p>
            <ul>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
          <div class="resume-item pb-0">
            <h3 class="resume-title">Education</h3>
            <h4>Passportcard Lab's</h4>
            <h5>Lorem, ipsum.</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
              quia!
            </p>
            <ul>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 aos-init aos-animate">
          <h3 class="resume-title">Professional Exprience</h3>
          <div class="resume-item pb-0">
            <h4>
              BSc Electrical and Computer Engineering, Ben Gurion University
              (2021–2025)
            </h4>
            <h5>Lorem, ipsum.</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
              quia!
            </p>
            <ul>
              <li>
                Programmed a CPU in Assembly, using a Digital Analog Converter
                (DAC).
              </li>
              <li>Focused on C++, Python, Assembly, and Signal Processing.</li>
              <li>
                Relevant courses: Data Structures, Semiconductor Devices, Intro to
                Digital Electronic Circuits, Modern Communication, Stochastic
                Processes.
              </li>
            </ul>
          </div>
          <div class="resume-item pb-0">
            <h4>C++ Course, Udemy</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
              quia!
            </p>
            <ul>
              <li>
                Focused on Object Oriented Programming (OOP) and the Standard
                Template Library (STL).
              </li>
              <li>
                Built a back end server with Node.js and Express.js, optimizing
                data flow between the client and server.
              </li>
              <li>
                Used MongoDB to develop the database, ensuring efficient data
                retrieval and storage.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  